@media only screen and (max-width: 940px) {
  .hero-section {
    padding-top: 0 !important;
    margin: 50px auto;
    height: auto !important;
  }

  .hero-section .hero-container {
    flex-direction: column;
    padding: 0 !important;
    margin: 0 !important;
    height: auto !important;
  }

  .hero-section .hero-container .col:nth-child(1) {
    width: 100% !important;
    margin-top: 0 !important;
    padding-top: 0 !important;
  }

  .hero-section .hero-container .col:nth-child(2) {
    display: none;
  }

  .hero-swiper-container {
    height: auto !important;
  }

  .hero-swiper-container .slider-container .text-container {
    top: 0;
  }
  .hero-swiper-container .slider-container .text-container h5 {
    margin-top: 20px;
  }

  .trending-section .trending-container {
    flex-direction: column;
  }

  .trending-section .trending-container .col:nth-child(1) {
    width: 100%;
  }
  .trending-section .trending-container .col:nth-child(2) {
    width: 100%;
  }
  .trending-section .trending-container .col .title-container {
    width: 100%;
  }

  .featured-books-section .featured-books-container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 800px) {
    header .nav-container .menu-container {
      position: fixed;
      top: 0;
      left: 0;
      background-color: #fff;
      z-index: 1000;
      width: 100%;
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateX(-100%);
      transition: all 0.5s linear;
    }
   header .menu-btn{
    display: flex;
    background: transparent!important;
    
   
   }

   header .menu-btn i{
    color: #333;
font-size: 18px;
   
   }
    header .nav-container .menu-container .menu-list{
        flex-direction: column;
    }

    header .nav-container .menu-container .menu-list li a{
        font-size: clamp(1.2rem,3vw,2rem);
    }
  }
  

  @media only screen and (max-width:801px){
    header .nav-container .menu-container{
      position: fixed;
      top:0;
      left: 0;
      background-color:#fff ;
      z-index: 1000;
      width: 100%;
      min-height:100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    header .nav-container .menu-container .menu-list{
      flex-direction: column;
    }

    header .nav-container .menu-container .menu-list li a{
      font-size: clamp(1.2rem,3vw,2rem);
    }

    header .close-btn{
      display: block;
      position: absolute;
      top: 10px;
      right:10px;
      background-color: transparent;
      border: none;
      color: #141414;
      font-size: 18px;
      width: 50px;
      height: 50px;     
      transition: all 0.5s linear;
        }

        header .close-btn:hover {
          background-color: rgba(0, 0, 0, 0.05);
          transform: scale(1.1);
          border-radius: 50%;
          cursor: pointer;
          transition: all 0.3s ease;
        }

        header .menu-btn{
          display: flex;
        
        }
  }

  @media only screen and (max-width:640px){
footer .footer-container{
  flex-direction: column;
  align-items: center;
}

.copy-right-container{
  text-align: center;
}

footer .menu-container{
  margin:0;
}

.hero-swiper-container .slider-container .text-container{
  top:5%;
  width: 80%;
}

.hero-swiper-container .slider-container .text-container .btn-container{
  display: none;
}
  }


  



 